body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section {
    height: 500px;
    padding-bottom: 100px;
}

.top-section {
    display: flex;
    margin-bottom: 50px;
}

p {
    font-size: 17px;
}

.top-banner {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}

h1 {
    font-size: 50px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
}

.orange-color {
    color: orange;
}

.half-width {
    width: 550px;
    padding-left: 5%;
    margin-left: 1%;
    margin-right: 1%;
}

.half-width img {
    width: 100%;
}

.orange-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 8px 40px;
    border-radius: 5px;
    font-weight: 700;
}

.dream-big {
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experiance {
    background-image: url(../images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}

#full-stack {
    border-left: 7px solid;
    border-radius: 10px;
    margin-left: 5%;
    padding: 10px;
    box-shadow: 10px 10px 30px grey;
    border-image: linear-gradient(rgb(0, 238, 255), rgb(138, 255, 71));
    border-image-slice: 1;
}

#baby-developer {
    border-left: 7px solid;
    border-image: linear-gradient(rgb(21, 54, 199), rgb(209, 25, 154));
    border-image-slice: 1;
    border-radius: 10px;
    height: 400px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    box-shadow: 10px 10px 30px grey;
}